.nav-ul {
  padding: 10px;
  margin: 0px;
  background-color: #fdb940;
}

.nav-ul li {
  display: inline-block;
}

.nav-ul li a {
  color: black;
  text-decoration: none;
  padding: 25px;
}

.brand-name {
  font-size: 20px;
  font-weight: bold;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: #fdb940;
  background-color: black;
}
